body {
    background-color: black;
    font-family: Arial, sans-serif;
}

.cont {
    margin-top: 10em;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #EEAECA;
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    box-shadow: 0 0 50px #EEAECA;
    border-radius: 50px;
}

h1, h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-top: 2em;
}